.vscode/**
.github/**
.gitignore
.gitattributes
.claude/**
dev/**
samples/**
images/**
node_modules/**
out/**
src/**
esbuild.js
tsconfig.json
icon.svg
.versionrc.json
package-lock.json
**/*.map
**/*.ts
!dist/**
